<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title th:text="${'BlogBox - Posts'}"></title>
<link href="#" th:href="@{/css/blogbox_style.css}" rel="stylesheet" />
</head>
<body>

	<header>
		<div class="logo">
			<img src="../static/imgs/logo.jpg" th:src="@{/imgs/logo.jpg}"
				alt="logo_blogbox" />
		</div>
		<div class="buscar">
			<img src="../static/imgs/buscar.jpg" th:src="@{/imgs/buscar.jpg}"
				alt="buscar" />
		</div>
	</header>

	<section class="main">
		<section class="userinfo">
			<div class="userphoto">
				<img src="#" th:src="${urlPhoto}" alt="Foto perfil" height="350px" />
			</div>
			<div class="info">
				<h2 class="username" th:text="${usuario.nomUsuario}"></h2>
				<h3 class="name" th:text="${usuario.nombre}"></h3>
				<p class="datos" id="email" th:text="${usuario.email}"></p>
				<p class="datos" id="ciudad" th:text="${usuario.direccion.ciudad}"></p>
				<p class="datos" id="empresa" th:text="${usuario.compania.nombre}"></p>
				<p class="slogan" id="empresa" th:text="${usuario.compania.bs}"></p>
			</div>
			<a class="BB_Button" href="#" th:href="@{/gallery?user=__${usuario.id}__}">GALLERY</a>
		</section>
		<div class="centered_content">
			<section class="articles">
				<article class="post" th:each="post : ${posts}">
					<h2 class="username" th:text="${usuario.nomUsuario}"></h2>
					<h3 class="titulo" th:text="${post.titulo}"></h3>
					<p class="mensaje" th:text="${post.cuerpo}"></p>
				</article>
			</section>
		</div>
	</section>

	<footer>
		<div class="footerlogo">
			<img src="../static/imgs/footerlogo.jpg"
				th:src="@{/imgs/footerlogo.jpg}" alt="footerlogo_blogbox" />
		</div>
	</footer>

</body>
</html>